$white: #fff;
$black: #121212;
$black_title: #0d1410;
$black_background:#3a4643;
$yellow: #ffd32a;
$orange: #dd9323;
$green: #05c46b;
$green_rgba: rgba(5, 196, 107, 1);
$grey: #d8d8da;
$fafafa: #fafafa;
$cover_background: #f4f4f5;
