@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "RobotoSlabLight";
  src: url(../fonts/RobotoSlab-Light.ttf);
}

@font-face {
  font-family: "RobotoSlabBold";
  src: url(../fonts/RobotoSlab-Bold.ttf);
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.plants-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
