@import '../../assets/scss/colors';

.plant-cover {
  background-color: $cover_background;
  width: 100%;

  .image-wrapper {
    height: 460px;

    .image {
      height: 100%;
    }
  }
}

.col-2,
.col-4 {
  width: 100%;
}

.main-info {
  margin: 25px;
  padding: 25px;

  span.family {
    opacity: 0.5;
    font-family: "RobotoSlabLight", sans-serif;
    font-size: 18px;
    font-weight: 700;
    transition: 0.3s;
    color: $black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin-bottom: 30px;
    display: block;
  }

  h1.title {
    font-family: "RobotoSlabBold", sans-serif;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.2px;
    margin-top: 8px;
    margin-bottom: 50px;
    color: $black_title;
    display: block;
    text-transform: capitalize;
  }

  p {
    display: block;
    text-align: left;
    margin-bottom: 45px;
  }
}

.vegetable-label-wrapper {
  position: relative;

  span.vegetable {
    color: $orange;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    z-index: 10;
    display: flex;
    align-items: center;
    margin-left: 30px;

    &::before {
      content: "";
      background-color: $orange;
      height: 16px;
      width: 30px;
      position: absolute;
      opacity: 0.25;
      padding: 10px;
      margin-left: -30px;
    }
  }
}

.short-info {
  background-color: $black_background;
}

.info-block {
  margin: 25px;
  padding: 15px;

  strong,
  span {
    display: block;
    font-family: "RobotoSlabLight", sans-serif;
    text-align: left;
    font-size: 14px;
    font-weight: 300;
  }

  strong {
    font-weight: 600;
    font-size: 18px;
    color: $grey;
    margin-bottom: 15px;
  }

  span {
    text-transform: uppercase;
    letter-spacing: 1.8px;
    color: $white;
    opacity: 0.6;
  }
}

@media only screen and (min-width: 768px) {
  .plant-content {
    display: flex;
    flex-direction: column;
  }

  .plant-cover {
    display: flex;
  }

  .col-2 {
    width: 50%;
  }

  .col-4 {
    width: 25%;
  }

  .main-info {
    width: calc(50% - 100px);
  }

  .short-info {
    display: flex;
    justify-content: space-between;
  }
}
